# Ignore node_modules, as they will be installed in the container
node_modules

# Ignore Next.js build output, it will be generated in the container
.next

# Ignore Git folder
.git

# Ignore local environment files
.env*.local

# Ignore npm debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore VSCode settings
.vscode

# Ignore Turborepo cache
.turbo 